body {
  margin: 0;
  padding: 0;
}

.section {
  width: 100vw;
  height: 50vh;
  background-color: white;
  background-image: url("headway-5QgIuuBxKwM-unsplash-min.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-bottom-left-radius: 25%;
  border-bottom-right-radius: 65%;
}

.nav {
  margin: 0;
  padding: 20px;
  display: flex;
  list-style-type: none;
}

.nav__list {
  min-width: 100px;
  padding: 12px 0;
  text-align: center;
}

.nav__list:first-of-type {
  padding: 12px 0;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px lightgrey solid;
}

.nav__item {
  font-family: Verdana, sans-serif;
  font-size: 12px;
  text-decoration: none;
  color: white;
}

.title {
  margin: 2em 2em 0;
  font-family: Verdana, sans-serif;
  font-size: 38px;
  font-weight: normal;
  color: white;
}

.text__summary {
  display: none;
}

.search__form {
  position: relative;
  margin: 2em 5em;
}

label[class^="search__label"] {
  position: absolute;
  top: -2px;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: white;
}

input[class^="search__input"] {
  width: 250px;
  padding: 12px;
  margin-top: 14px;
  margin-right: 10px;
  font-size: 12px;
  border: 1px solid lightgrey;
  border-radius: 4px;
}

.search__button {
  width: 150px;
  height: 40px;
  padding: 8px;
  font-size: 14px;
  background-color: #440381;
  color: white;
  border: none;
  border-radius: 4px;
}

.image {
  display: none;
}
